{
  "extends": ["react-app"],
  "plugins": ["prettier"],
  "rules": {
    "arrow-parens": [2, "always"],
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "implicit-arrow-linebreak": "off"
  }
}